{% import "_includes/forms" as forms %}

{% if fonts|length > 0 %}

{{ forms.selectField({
    label: "Iconpicker Font"|t('app'),
    id: 'dolphiq-iconpicker-font',
    name: 'iconFont',
    options: fonts,
    value: field.iconFont,
}) }}

{% else %}

    <p class="warning">You need to put at least one font (.ttf or .woff) in the plugins font directory. (src/resources-shared/fonts)</p>

    <h2>Font resources:</h2>
    <ul>
        <li><a href="http://ionicons.com/" target="_blank">ionicons</a>
        <li><a href="http://fontawesome.io/" target="_blank">fontawesome</a>
    </ul>
{% endif %}